extends ../index.pug

block content
    .page-content
        header
            .page-navigator
                .bread-crumb
                    | 회원정보 
                h3 회원정보 수정
        section.container
            .guide-desc.mt-2.mb-4 농부심 ERP 회원정보 수정이 가능합니다.
            //- 소셜 로그인이라도 이메일을 못받아왔다면 입력하게 함
            - var strategy = strategy!=null ? strategy : 0
            - var socialId = socialId!=null ? socialId : 0
            - var isSocialLogin = strategy != 0
            - if (!isSocialLogin || !validateEmail(username)) 
                .form-control
                    .title
                        .red * 
                        | 이메일
                    input#input_username.full-width.app-input(type='email', placeholder='이메일' strategy=strategy social_id=socialId value=email)
            - else 
                input#input_username.hide(type='email', value=profile.username, strategy=strategy social_id=socialId)
            - if (!isSocialLogin)
                .form-left-right
                    .form-control.mt-4.mr-3
                        .title
                            .red * 
                            | 비밀번호 
                        input#input_password.full-width.app-input(type='password', placeholder='비밀번호 6자 이상')
                    .form-control.mt-4
                        .title
                            .red * 
                            | 비밀번호 확인
                        input#input_password_confirm.full-width.app-input(type='password', placeholder='비밀번호 확인')
            .form-control.mt-4
                .title
                    .red * 
                    | 성함
                .guide 실제 성함을 입력 해 주세요.
                input#input_name.full-width.app-input(type='text', placeholder='이름' value=name)
            .form-control.mt-4
                .title
                    .red * 
                    | 닉네임
                .guide 게시판에 보이는 닉네임 입니다.
                input#input_nickname.full-width.app-input(type='text', placeholder='닉네임' value=nickname)
            button#btn_update.mt-4.btn-social-login(type='button') 회원정보 수정
            button#btn_withdrawal.mt-4.btn-social-login() 회원탈퇴
    script(src='/js/babel/user_info.js')